<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<nav th:fragment="copy" class="navbar fixed-top navbar-expand-lg text-bg-dark">
			<div class="container-fluid">
				<a href="/" class="navbar-brand text-warning fw-bold">5Fruive</a>
				<div class="collapse navbar-collapse">
					<button class="col-lg-4 offset-lg-4 text-start bg-dark px-2 py-1" id="search-bar">
						<i class="bi bi-search me-1"></i> Search
					</button>
				</div>
				<div class="d-flex align-items-center">
					<a href="#" class="nav-link navbar-toggler">
						<i class="bi bi-search text-warning fs-6"></i>
					</a>
					<a href="/cart" class="position-relative nav-link me-3">
						<i class="bi bi-bag-fill text-warning fs-5"></i>
						<span id="cart-counter" style="display: none;" class="position-absolute top-100 start-0 translate-middle badge rounded-pill bg-danger">8</span>
					</a>
					<a th:if="${ auth == null }" th:href="@{ /sign-in }" class="btn btn-warning">Sign in</a>
					<div th:if="${ auth != null }" class="dropdown">
						<a href="#" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-circle text-warning"></i>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a href="#" class="dropdown-item text-center">My bills</a>
							</li>
							<li>
								<a href="#" class="dropdown-item text-center">Settings</a>
							</li>
							<li><hr class="dropdown-divider"/></li>
							<li>
								<form th:action="@{ /logout }" method="post" class="dropdown-item">
									<button type="submit" class="btn btn-danger col-12">Sign out</button>
								</form>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</body>
</html>