<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="copy" class="d-flex flex-row justify-content-center pb-5">
			<div class="me-5">
				<a href="#" class="text-secondary text-decoration-none">Home</a>
			</div>
			<div class="me-5">
				<a href="#" class="text-secondary text-decoration-none">About</a>
			</div>
			<div class="me-5">
				<a href="#" class="text-secondary text-decoration-none">Contact Us</a>
			</div>
			<div>
				<a href="#" class="text-secondary text-decoration-none">Our Team</a>
			</div>
		</div>
	</body>
</html>