<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="copy" class="d-flex flex-row justify-content-center align-itens-center pt-5 pb-2">
			<div class="me-4">
				<a href="#" class="text-light">
					<i class="bi bi-facebook fs-1"></i>
				</a>
			</div>
			<div class="me-4">
				<a href="#" class="text-light">
					<i class="bi bi-twitter-x fs-1"></i>
				</a>
			</div>
			<div class="me-4">
				<a href="#" class="text-light">
					<i class="bi bi-linkedin fs-1"></i>
				</a>
			</div>
			<div class="me-4">
				<a href="#" class="text-light">
					<i class="bi bi-github fs-1"></i>
				</a>
			</div>
			<div>
				<a href="#" class="text-light">
					<i class="bi bi-youtube fs-1"></i>
				</a>
			</div>
		</div>
	</body>
</html>