<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<template th:replace="~{ common/head }"></template>
		<title><th:block th:text="${ product.name }">Product name</th:block> - 5Fruive</title>
	</head>
	<body>
		<!-- HEADER -->
		<div th:replace="~{ common/header :: copy }"></div>
		
		<!-- CONTENT -->
		<div th:replace="~{ product/product-details :: copy }"></div>
		
		<!-- FOOTER -->
		<div th:replace="~{ common/footer :: copy }"></div>
		
		<!-- JAVASCRIPT -->
		<div th:replace="~{ common/scripts }"></div>
	</body>
</html>