<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<template th:replace="~{ common/head }"></template>
		<title><th:block th:text="${ errorMessage == null ? product.name : errorMessage }">Product name</th:block> - 5Fruive</title>
	</head>
	<body>
		<!-- HEADER -->
		<div th:replace="~{ common/header :: copy }"></div>
		
		<!-- CONTENT -->
		<div th:replace="~{ product/product-details :: copy }"></div>
		<div th:replace="~{ error/dynamic :: copy }"></div>
		
		<!-- FOOTER -->
		<div th:replace="~{ common/footer :: copy }"></div>
		<div th:replace="~{ common/error-toast :: copy }"></div>
		
		<!-- JAVASCRIPT -->
		<div th:replace="~{ common/scripts }"></div>
		<div th:replace="~{ product/scripts :: copy }"></div>
		<script src="/js/product.js"></script>
	</body>
</html>