<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="copy" class="min-vh-100 container pt-5" th:if="${ errorMessage == null }">
			<div class="row pt-5">
				<div class="col-12 col-lg-7 d-flex flex-row justify-content-center">
					<img th:src="${ '/images/' + product.image }" class="img-fluid border"/>
				</div>
				<div class="col-12 col-lg-5 d-flex flex-column justify-content-center align-items-center py-5 py-lg-0">
					<div>
						<h1 class="text-dark text-decoration-underline fs-2" th:text="${ product.name }">Product name</h1>
					</div>
					<div>
						<i class="bi bi-subtract text-secondary me-2"></i>
						<span class="fs-5" th:text="${ product.category.name }">Product category</span>
					</div>
					<div>
						<i class="bi bi-geo-alt text-secondary me-2"></i>
						<span class="fs-5" th:text="${ product.province.name }">Product province</span>
					</div>
					<div>
						<i class="bi bi-box-seam text-secondary me-2"></i>
						<span class="fs-5" th:text="${ product.inStock }">Product number</span>
						<span class="fs-5" th:text="${ product.unit }">Product unit</span>
					</div>
					<div>
						<i class="bi bi-tag text-secondary me-2"></i>
						<span class="fs-5" th:text="${ product.price + ' Ar' }">Product price</span>
						<span class="fs-5">/</span>
						<span class="fs-5" th:text="${ product.unit }">Product unit</span>
					</div>
					<div class="d-flex flex-column align-items-center mt-3">
						<div class="col-8 mb-2">
							<input type="number" class="form-control" th:placeholder="${ 'Amount in ' + product.unit }"/>
						</div>
						<div>
							<button type="button" class="btn btn-warning">
								<i class="bi bi-plus-lg me-1"></i>Add to cart
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>