<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="d-flex flex-row justify-content-center pt-4 pt-lg-5 px-3 px-lg-4 bo-main-content" th:fragment="copy">
			<div class="d-flex flex-column col-12 col-xxl-10">
				<div th:replace="~{ products/header-buttons :: copy }"></div>
				<div class="table-responsive mb-4">
					<table class="table table-bordered table-hover text-center align-middle">
						<thead>
							<tr>
								<th>ID</th>
								<th>Category</th>
								<th>Province</th>
								<th>Name</th>
								<th>In stock</th>
								<th>Price</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="product : ${ products }">
								<td th:text="${ product.id }">Product ID</td>
								<td th:text="${ product.category.name }">Category name</td>
								<td th:text="${ product.province.name }">Province name</td>
								<td th:text="${ product.name }">Product name</td>
								<td th:text="${ #numbers.formatDecimal(product.inStock, 0, 2) + ' ' + product.unit }">In stock</td>
								<td th:text="${ product.price + ' Ar / ' + product.unit  }">Category name</td>
								<td class="col-1">
									<a th:href="${ '/bo/restock/' + product.id }" class="btn btn-secondary">Restock</a>
								</td><td class="col-1">
									<button type="button" class="btn btn-warning">Edit</button>
								</td>
								<td class="col-1">
									<button type="button" class="btn btn-dark">Remove</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div th:insert="~{ common/pagination :: copy }" class="d-flex flex-row justify-content-center mt-1">Page navigation</div>
			</div>
		</div>
	</body>
</html>