<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="d-flex flex-row justify-content-center pt-4 pt-md-5 px-3 px-md-4 bo-main-content" th:fragment="copy">
			<div class="table-responsive col-12 col-xxl-10">
				<table class="table table-bordered table-hover text-center">
					<thead>
						<tr>
							<th>ID</th>
							<th>Category</th>
							<th>Province</th>
							<th>Name</th>
							<th>In stock</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="product : ${ products }">
							<td th:text="${ product.id }">Product ID</td>
							<td th:text="${ product.category.name }">Category name</td>
							<td th:text="${ product.province.name }">Province name</td>
							<td th:text="${ product.name }">Product name</td>
							<td th:text="${ #numbers.formatDecimal(product.inStock, 0, 2) + ' ' + product.unit }">In stock</td>
							<td th:text="${ product.price + ' Ar / ' + product.unit  }">Category name</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>