<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="d-flex flex-row justify-content-center pt-4 pt-md-5 px-3 px-md-4 bo-main-content" th:fragment="copy">
			<div class="col-12 col-lg-6 col-xl-5 col-xxl-4">
				<table class="table table-bordered table-hover text-center">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="role : ${ roles }">
							<td th:text="${ role.id }">Role ID</td>
							<td th:text="${ role.name }">Role name</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>