<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<template th:replace="~{ common/head }"></template>
		<title>Cart - 5Fruive</title>
	</head>
	<body>
		<!-- HEADER -->
		<div th:replace="~{ common/header :: copy }"></div>
		
		<!-- CONTENT -->
		<div th:replace="~{ cart/table :: copy }">Cart content</div>
		
		<!-- FOOTER -->
		<div th:replace="~{ common/footer :: copy }"></div>
		
		<!-- JAVASCRIPT -->
		<div th:replace="~{ common/scripts }"></div>
		<div th:replace="~{ cart/javascript :: copy }"></div>
	</body>
</html>