#search-bar {
	border: 1px solid #AAAAAA;
}

#search-bar::placeholder {
	color: #AAAAAA;
}

#search-bar:hover {
	color: #DCDCDC;
	border: 1px solid #DCDCDC;
}

.products-item-image {
	height: 300px;
	object-fit: scale-down;
}

.text-bg-very-dark {
	background-color: black;
	color: white;
}

.http-status {
	font-size: 250px;
}

.error-message {
	font-size: 55px;
}