#search-bar {
	color: #AAAAAA;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
}

#search-bar:hover {
	color: #DCDCDC;
	border: 1px solid #DCDCDC;
}

.products-item-image {
	height: 300px;
	object-fit: scale-down;
}