<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<template th:replace="~{ common/head }"></template>
		<title>My bill - 5Fruive</title>
	</head>
	<body>
		<!-- HEADER -->
		<div th:replace="~{ common/header :: copy }"></div>
		
		<!-- CONTENT -->
		<div th:replace="~{ bill/table :: copy }">Resuming your purchase</div>
		<div th:replace="~{ error/dynamic :: copy }"></div>
		
		<!-- FOOTER -->
		<div th:replace="~{ common/footer :: copy }"></div>
		
		<!-- JAVASCRIPT -->
		<div th:replace="~{ common/scripts }"></div>
		<div th:replace="~{ bill/scripts }"></div>
	</body>
</html>