<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="copy" th:if="${ purchase != null }" class="container min-vh-100 mt-5 pt-5">
			<div id="my-bill">
				<h1 class="fs-2"><span class="text-decoration-underline">Purchaser</span> : <span th:text="${ fullname }" class="ms-3"></span></h1>
				<h2 class="fs-3 mb-5"><span class="text-decoration-underline">Purchase date</span> : <span th:text="${ #temporals.format(purchase.purchaseDate, 'dd-MM-yyyy HH:mm') }" class="ms-3"></span></h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Product name</th>
							<th>Amount</th>
							<th>Price</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detail : ${ purchase.details }">
							<td th:text="${ detail.product.name }"></td>
							<td th:text="${ detail.amount + ' ' + detail.product.unit }"></td>
							<td th:text="${ detail.price + ' Ar' }"></td>
						</tr>
						<tr>
							<th>Total</th>
							<th th:text="${ #numbers.formatDecimal(#aggregates.sum(purchase.details.![amount]), 0, 2) + ' ' + purchase.details[0].product.unit }">Total amount</th>
							<th th:text="${ #aggregates.sum(purchase.details.![price]) + ' Ar' }">Total price</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="d-flex flex-row justify-content-end mt-5">
				<button type="button" id="btn-save-pdf" class="btn btn-warning d-flex flex-row align-items-center">
					<i class="bi bi-filetype-pdf fs-4 me-2"></i>Download my bill
				</button>
			</div>
		</div>
	</body>
</html>