<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div class="d-flex flex-row justify-content-center pt-4 pt-lg-5 px-3 px-lg-4 bo-main-content" th:fragment="copy">
			<div class="table-responsive col-12 col-xxl-8">
				<table class="table table-bordered table-hover text-center align-middle">
					<thead>
						<tr>
							<th>ID</th>
							<th>Date</th>
							<th>Purchaser</th>
							<th>Total price</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="purchase : ${ purchases }">
							<td th:text="${ purchase.id }">Product ID</td>
							<td th:text="${ #temporals.format(purchase.purchaseDate, 'dd/MM/yyyy HH:mm') }">Purchase date</td>
							<td th:text="${ purchase.purchaser.username }">Purchaser username</td>
							<td th:text="${ #numbers.formatDecimal(#aggregates.sum(purchase.details.![price]), 0, 0) + ' Ar' }">Total price</td>
							<td class="col-3 col-lg-2">
								<button type="button" class="btn btn-warning">See details</button>
							</td>
							<td class="col-1">
								<button type="button" class="btn btn-secondary">Refund</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>