<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<template th:replace="~{ common/head }"></template>
		<title>Home - 5Fruive</title>
	</head>
	<body>
		<!-- HEADER -->
		<div th:replace="~{ common/header :: copy }"></div>
		
		<!-- SEARCH MODAL -->
		<div th:replace="~{ common/search-modal :: copy }"></div>
		
		<!-- CONTENT -->
		<div th:replace="~{ home/products-list :: copy }"></div>
		
		<!-- FOOTER -->
		<div th:replace="~{ common/footer :: copy }"></div>
		<div th:replace="~{ error/toast :: copy }"></div>
		
		<!-- JAVASCRIPT -->
		<div th:replace="~{ common/scripts }"></div>
		<div th:replace="~{ home/javascript :: copy }"></div>
	</body>
</html>